
body{
	margin:0px;
	background-color:rgba(255,255,0,0.2);
}

header{
	width:100vw;
	height:50px;	
	background:rgba(255,0,0,0.5);
	margin:0px;
}

header h1{

	text-align: center;
	margin-top: 10px;
	color: #FFFFFF;
	font-family:Helvetica, sans-serif;
	padding-top:5px;
}


footer button{
	margin:0 auto !important;
	background-color: #FFFFFF;
    border:none;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display:block;
    font-size: 16px;
    cursor: pointer;
     

}

main{
	width:80%;
	height:auto;
	margin: 40px auto;
	min-height:350px;
	box-shadow: 1px 1px 10px 5px #686868;
	font-size: 20px;
	padding: 15px;
	background-color: #FFFFFF;

}

a{
	padding:5px;
	margin:10px 5px;
	text-decoration: none;
	font-size:20px;
	border: 1px solid grey;
	border-radius:10px;
}

a:nth-of-type(odd) {
    color: #FF0000;
}

a:nth-of-type(even) {
    color: #0000FF;
}

#anchors{

	margin-top:22px;
}

.button-t{
	color:#000000;
}

#button-r{
	color:#FF0000;
}

footer{
	width:100vw;
	min-height: 150px;
	background:rgba(255,0,0,0.5);
	max-width:100%;
	overflow: auto;
}